In [53]:
library(tidyverse)

In [54]:
pple_muku <- data.frame(read.csv("pple_muku.csv"))
pple_ole <- data.frame(read.csv("pple_ole.csv"))
pple_hoku <- data.frame(read.csv("pple_hoku.csv"))
str(pple_ole)

'data.frame':	30 obs. of  5 variables:
 $ Moon        : chr  "Olekukolu" "Olekukolu" "Olekukolu" "Olekukolu" ...
 $ People_total: num  NA NA NA NA NA NA 8 8 8 35 ...
 $ msq         : num  8060 8060 8060 8060 8060 ...
 $ Date        : int  20220707 20220707 20220707 20220707 20220707 20220707 20220707 20220707 20220707 20220707 ...
 $ Time        : num  0 0 0 4 4 4 8 8 8 9 ...

In [69]:
pple <- rbind(pple_muku, pple_ole, pple_hoku)
colnames(pple)[1] ="M2"
colnames(pple)[5] ="T2"

In [70]:
pple[is.na(pple)] <- 0
str(pple)

'data.frame':	90 obs. of  5 variables:
 $ M2          : chr  "Muku" "Muku" "Muku" "Muku" ...
 $ People_total: num  0 0 0 0 0 0 7 7 7 9 ...
 $ msq         : num  8060 8060 8060 8060 8060 ...
 $ Date        : int  20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 20220628 ...
 $ T2          : num  0 0 0 4 4 4 8 8 8 9 ...

In [71]:
conc_muku <- data.frame(read.csv("conc_muku.csv"))
conc_ole <- data.frame(read.csv("conc_ole.csv"))
conc_hoku <- data.frame(read.csv("conc_hoku.csv"))

In [72]:
str(conc_muku)
str(conc_ole)
str(conc_hoku)

'data.frame':	30 obs. of  4 variables:
 $ Moon: chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time: int  0 0 0 4 4 4 8 8 8 9 ...
 $ BP3 : num  12.3 13.9 11.1 20 20.1 ...
 $ OC  : num  NA NA NA NA NA ...
'data.frame':	30 obs. of  4 variables:
 $ Moon: chr  "ʻOlekūkolu" "ʻOlekūkolu" "ʻOlekūkolu" "ʻOlekūkolu" ...
 $ Time: int  0 0 0 4 4 4 8 8 8 9 ...
 $ BP3 : num  21.2 21.5 19.3 20.3 21.7 ...
 $ OC  : num  NA NA NA 15.6 12.8 ...
'data.frame':	30 obs. of  4 variables:
 $ Moon: chr  "Hoku" "Hoku" "Hoku" "Hoku" ...
 $ Time: int  0 0 0 4 4 4 8 8 8 9 ...
 $ BP3 : num  36.9 35.1 35.9 36.6 37.1 ...
 $ OC  : num  87.4 73.7 71 84.2 109.1 ...

In [73]:
conc <- rbind(conc_muku, conc_ole, conc_hoku)

In [74]:
conc[is.na(conc)] <- 0
str(conc)

'data.frame':	90 obs. of  4 variables:
 $ Moon: chr  "Muku" "Muku" "Muku" "Muku" ...
 $ Time: int  0 0 0 4 4 4 8 8 8 9 ...
 $ BP3 : num  12.3 13.9 11.1 20 20.1 ...
 $ OC  : num  0 0 0 0 0 ...

In [87]:
conc_pple <- cbind(conc,pple)
conc_pple_2 <- conc_pple[,-5]
conc_pple_3 <- conc_pple_2[,-8]
conc_pple_fin <- conc_pple_3 %>% relocate(Date, .after = Moon)