In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [50]:
library(readxl)

In [55]:
#List excel sheets
combined_data <- excel_sheets("2_People_untidy_MD.xlsx") %>% map_df(~read_xlsx("2_People_untidy_MD.xlsx",.))

In [56]:
#Replace missing values with 0
combined_data[is.na(combined_data)] <- 0

In [60]:
# Divide People_total / msq to get total ppl_msq
combined_data$ppl_msq <- (combined_data$People_total / combined_data$msq)

In [62]:
head(combined_data)
tail(combined_data)

  Moon People_total msq     Date     Time ppl_msq
1 Muku 0            8059.53 20220628 0    0
2 Muku 0            8059.53 20220628 0    0
3 Muku 0            8059.53 20220628 0    0
4 Muku 0            8059.53 20220628 4    0
5 Muku 0            8059.53 20220628 4    0
6 Muku 0            8059.53 20220628 4    0

  Moon People_total msq     Date     Time ppl_msq
1 Hoku 4            8059.53 20220713 20   0.0004963069
2 Hoku 4            8059.53 20220713 20   0.0004963069
3 Hoku 4            8059.53 20220713 20   0.0004963069
4 Hoku 0            8059.53 20220713 24   0.0000000000
5 Hoku 0            8059.53 20220713 24   0.0000000000
6 Hoku 0            8059.53 20220713 24   0.0000000000